/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */

* {
  font-family: 'Iceberg', sans-serif;
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--blanco);
  text-decoration: none;
}

/* ******************************** */

/* Colores */
:root {
  /* Mode 1 */
  /* colors */
  --azul-fuerte: #042767;
  --blanco: #f2f2f2;
  --morado: #662fcf;
  --rosita: #ba60c4;
  --rosita-claro: #baaee5;
  --rosita-oscuro: #af62df;
}

/* ******************************** */

main{
  background-color: palevioletred;
}

/* HEADER */
header {
  background-color: var(--azul-fuerte);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 100px;


  & .mainheader {
    display: flex;
    justify-content: space-between;
    width: 1640px;
  }

  & nav {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 70px;
    padding: 20px 0px;

    & a {
      text-decoration: none;
      /* background-color: green; */
      font-size: 20px;
      font-weight: bold;
      font-family: 'Roboto Flex', sans-serif;
    }



    & .get__started {
      color: var(--azul-fuerte);
      background-color: var(--blanco);
      border-radius: 50px;
      padding: 10px 25px;
    }


  }
}

footer{
  background: linear-gradient(180deg, #B062DF 0%, #0F2471 100%);
  display: flex;
  justify-content: center;


  & .footerv2{
    display: grid;
    width: 1640px;
    grid-template-columns: 510px auto auto auto;
    grid-template-rows: auto;
    padding-top: 73px;
    column-gap: 100px;
    
    & .logo__footer, .texto__footer, .copyright{
      grid-column: 1/2;
    }

    & .services, .services__list{
      grid-column: 2/3; 
    }

    & .support, .support__list{
      grid-column: 3/4;
    }

    & .social__media{
      grid-column: 4/5;
      grid-row: 5/6;
      display: flex;
      flex-direction: row;
    }

    & .services, .support{
      font-size: 26px;
    }
    
    & .services, .support{
      grid-row: 1/2;
      align-self: end;
    }

    & .services__list, .support__list{
      grid-row: 2/3;
      display: flex;
      flex-direction: column;
      align-self: center;
    }

    & .social__media{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 10px;
    }

    & .copyright{
      grid-row:  5/6;
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      padding-top: 10px;
    }

    & .support__list a{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
    }

    & .services__list a, .support__list a{
      padding-top: 10px;
    }

  }
}


